.topHeader {
   font-family : 'Anton', sans-serif;
   font-weight : bold;
   color: lightcoral;
   width : 100%;
   text-align: center;
   display: block;
   padding-top: 10%;
   padding-bottom: 10%;
   border-bottom: 3px solid SlateGrey;
}

.lastName {
  color: SlateGrey;
}

h1 {
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-weight:bold;
    font-size: 60px;
    color: SlateGrey;
    text-align: center;
    margin-top: 5%;
}

.firstButton {
    border: 3px solid SlateGrey;
    padding: 15px 50px;
    border-radius: 5px;
    color: LightCoral;
    margin: 0 15px;
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
}

.secondButton {
    padding: 15px 50px;
    border: 3px solid LightCoral;
    background-color: LightCoral;
    margin: 0 15px;
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: SlateGrey;
}

.socialNetwork {
    position: fixed;
    max-width: 5%;
    min-width: 90px;
    left: -1%;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.socialNetwork:hover {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}

.linkedin {
    top: 40%;
}

.twitter {
    top: 50%;
}