.topHeader {
   font-family : 'Anton', sans-serif;
   font-weight : bold;
   color: SlateGrey;
   width : 100%;
   text-align: center;
   display: block;
   padding-top: 10%;
   padding-bottom: 10%;
   border-bottom: 3px solid SlateGrey;
}

.lastName {
  color: LightCoral;
}

h1 {
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-weight:bold;
    font-size: 60px;
    color: SlateGrey;
    text-align: center;
    margin-top: 5%;
}

.firstButton {
    border: 3px solid SlateGrey;
    padding: 15px 50px;
    border-radius: 5px;
    color: LightCoral;
    margin: 0 15px;
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
}

.secondButton {
    padding: 15px 50px;
    border: 3px solid LightCoral;
    background-color: LightCoral;
    margin: 0 15px;
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: SlateGrey;
}
