.topHeader {
    font-family : 'Anton', sans-serif;
    font-weight : bold;
    color: lightcoral;
    width : 100%;
    text-align: center;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 3px solid SlateGrey;
    background-image: url(/assets/splashpic.png);
    background-position: right;
    background-repeat: no-repeat;
    max-height: 50vh;
}

.headerContainer {
    padding: 1%;
}

.titleName {
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    padding: 5%;
    border-radius: 5px;
}

.lastName {
    color: SlateGrey;
}

h1 {
    font-weight: bold;
    font-size: 80px;
}

h2 {
    font-weight:bold;
    font-size: 60px;
    color: SlateGrey;
    text-align: center;
    margin-top: 5%;
}

.firstButton {
    border: 3px solid SlateGrey;
    padding: 15px 50px;
    border-radius: 5px;
    color: LightCoral;
    margin: 0 15px;
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
}

.secondButton {
    padding: 15px 50px;
    border: 3px solid LightCoral;
    background-color: LightCoral;
    margin: 0 15px;
    min-width: 200px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.socialNetwork {
    position: fixed;
    max-width: 80px;
    left: -35px;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

.socialNetwork:hover {
    -webkit-transform: translate(3em,0);
    -moz-transform: translate(3em,0);
    -o-transform: translate(3em,0);
    -ms-transform: translate(3em,0);
    transform: translate(3em,0);
}

.linkedin {
    top: 45vh;
}

.twitter {
    top: 50vh;
}