p {
	font-family: 'Anton', sans-serif;
}

.title {
  margin: 15px 0!important;
}

.subtitle {
  color:coral;
  font-size: 30px;
}

.card-title {
  font-size: 40px!important;
  border-bottom: 1px solid coral;
}