.IDpic {
    -webkit-border-radius:;
    -moz-border-radius:;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: lightcoral solid 3px;
}

.bio {
    text-align: center;
    font-family : 'Anton', sans-serif;
    font-weight : bold;
    color: SlateGrey;
    font-size: 20px;
    margin-top: 10%;
}